/* =========== FADE IN ============= */
.slideUp {
  -webkit-animation: slideUp 3s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideUp 3s ease; /* Firefox < 16 */
  -ms-animation: slideUp 3s ease; /* Internet Explorer */
  -o-animation: slideUp 3s ease; /* Opera < 12.1 */
  animation: slideUp 3s ease;
}
@keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Firefox < 16 */
@-moz-keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Internet Explorer */
@-ms-keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
